* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select:none;
}
body{
  background: linear-gradient(127deg, #F44444, rgba(255,0,0,0) 70.71%), linear-gradient(336deg, #d144f4, rgba(0,255,0,0) 70.71%),linear-gradient(217deg, #0ff193, rgba(0,0,255,0) 70.71%) no-repeat;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer{
  background-color: gray;
  position:fixed;
  bottom:0;
  color: #0ff193;
  height:auto;
  padding: 3%;
  width: 100%;
}
footer ul{
  text-align: center;
  text-decoration: none;
  list-style: none;
}
nav {
  font-family:"Jua",sans-serif;
  width:100%;
  height:auto;
  background:#F44444;
  font-size:1.2rem;
  font-weight:bold;
  position:relative;
  color: rgb(230, 220, 130);
}
nav ul {
  display: none;
  height: auto;
}
nav ul li {
  display: block;
  width: 100%;
  text-align:center;
  border-bottom: 1px solid #576979;
  line-height:50px;
}      
nav span#trigger {
  display:block;
  color:#0ff193;
  background-color:#fb4343;
  width:100%;
  padding-left:15px;
  line-height:40px;    
  position:relative;
}
nav span#trigger::after {
  content: "";
  background: url('image/menu.svg') no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
}        
nav ul li:hover{
  cursor:pointer;
}
#page{
  color:snow;
  text-align:center;
  font-family: 'Jua', sans-serif;
  overflow-y:scroll;
}
@media screen and (min-width:721px) {
  nav {
    height: 15vh;
    border-bottom:2vh solid #fb4343;
  }
  nav ul {
    display:block;
    width:760px; /*Check here*/
    height:30vh;
    padding: 0;
    margin:0 auto;        
  }
  nav ul li#logo, nav #trigger{
    color: #0ff193;
  }
  nav ul li {
    display:inline-block;
    width:150px;   
    border-bottom:0;
    border-right: 1px solid #fb4343;
    margin-right:-6px;
    line-height:15vh;
    user-select:none;
  }
  nav span#trigger {
    display: none;
  }          
}
@media screen and (min-height:1201px){
  nav ul li{
    font-size: 2.5vh;
  }
  #title{
    font-size: 4.5vh;
  }
  #page{
    font-size: 2vh;
  }
  footer{
    font-size: 2.5vh;
  }
}
@media screen and (min-height:451px) and (max-height:1200px){
  nav ul li{
    font-size: 5vh;
  }
  #title{
    font-size: 7.5vh;
  }
  #page{
    font-size: 5vh;
  }
}
@media screen and (max-height:450px) {
  nav ul li{
    font-size: 10vh;
  }
  #title{
    font-size: 12.5vh;
  }
  #page{
    font-size: 10vh;
  }
}