@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: #c33cf9;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    user-select: none;
}
body::-webkit-scrollbar{
    display: none;
}
a{
    font-family: "GongGothicLight", sans-serif;
    text-decoration: none;
    color: rgb(9, 28, 92);
}
a:visited{
    color: rgb(9, 28, 92);
}
.container{
    display: grid;
    grid-gap: 1vh;
    grid-template-areas: 
    "header header"
    "details details";
}
#details{
    grid-area: details;
    gap: 1vh;
    height: 88vh;
    display: flex;
    flex-direction: row;
}
.container header{
    display: grid;
    grid-area: header;
    line-height: 10vh;
    background-color: #F44444;
    background: linear-gradient(90deg, rgba(249,60,60,1) 0%, rgba(195,32,157,1) 100%);
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container header #logo{
    font-family: "SEBANG_Gothic_Bold", sans-serif;
    text-align: center;
    font-size: 2.7rem;
}
.container main{
    flex:3;
    word-break:keep-all;
    background: linear-gradient(127deg, #F44444, rgba(255,0,0,0) 70.71%), linear-gradient(336deg, #d144f4, rgba(0,255,0,0) 70.71%),linear-gradient(217deg, #0ff193, rgba(0,0,255,0) 70.71%) no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: snow;
    overflow: scroll;
    font-family: "BMHANNAAir", sans-serif;
    font-size: 1.75rem;
    border-top: 0.5vh solid snow;
    border-bottom: 0.5vh solid snow;
    border-right: 0.5vh solid snow;
    grid-area: main;
    text-align: center;
}
.container nav{
    flex: 1;
    display: flex;
    background: rgb(144,60,249);
    background: linear-gradient(340deg, rgba(144,60,249,1) 0%, rgba(255,0,234,1) 100%);
    grid-area: nav;
    flex-direction: column;
    flex: 1;
}
.container nav span{
    display: flex;
    font-family: "SLEIGothicTTF", sans-serif;
    color: rgb(120, 255, 200);
    justify-content: center;
    align-items: center;
    border-top: 0.5vh solid snow;
    border-left: 0.5vh solid snow;
    font-size: 1.25rem;
    flex: 1;
}
.container nav span:last-child{
    border-bottom: 0.5vh solid snow;
}
@media (prefers-color-scheme: dark) {
    body{
        background: rgb(139, 75, 75);
    }
    a{
        text-decoration: none;
        color: rgb(183, 235, 135);
    }
    a:visited{
        color: rgb(183, 235, 135);
    }
    .container header #logo{
        background-color: gray;
    }
    .container nav span{
        color: rgb(192, 192, 192);
        border-left: 0.5vh solid rgb(0,0,0);
        border-top: 0.5vh solid rgb(0,0,0);
        background-color: gray;
    }
    .container nav span:last-child{
        border-bottom: 0.5vh solid rgb(0,0,0);
    }
    .container main{
    background: linear-gradient(336deg, #F44444, rgba(255,0,0,0) 70.71%), linear-gradient(217deg, #d144f4, rgba(0,255,0,0) 70.71%),linear-gradient(127deg, #0ff193, rgba(0,0,255,0) 70.71%) no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: gray;
    border-top: 0.5vh solid rgb(0,0,0);
    border-bottom: 0.5vh solid rgb(0,0,0);
    border-right: 0.5vh solid rgb(0,0,0);
    color: rgb(255, 255, 255);
    }
}
@media screen and (min-width: 720px) {
    .container nav span{
        font-size: 2rem;
    }
    .container header #logo{
        font-size: 3.2rem;
    }
    .container main{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 2000px) {
    .container nav span{
        font-size: 6rem;
    }
    .container header #logo{
        font-size: 10rem;
    }
    .container main{
        font-size: 8rem;
    }
}
@media screen and (max-width: 281px) {
    .container nav span{
        font-size: 0.9rem;
    }
    .container header #logo{
        font-size: 1.5rem;
    }
    .container main{
        font-size: 1.25rem;
    }
}
@media screen and (max-height: 534px) {
    .container header #logo{
        font-size: 1rem;
    }
    .container main{
        font-size: 0.8rem;
    }
    .container nav span{
        font-size: 0.625rem;
    }
}